@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

html {
    height: 100%;
    background-image: url("https://i.natgeofe.com/n/91ee8866-32c1-46c9-a390-13b381262dc8/01-hermit-crabs-minden_00512417_16x9.jpg?w=636&h=358");
    background-size: cover;
}

body {
    margin: 0;
    font-family: 'Architects Daughter', cursive;
    font-weight: 400;
}


/*************************************
        nav bar
**************************************/
.contaier {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #00a2a9;
}

    header::after {
        content: '';
        display: table;
        clear: both;
    }

.logo {
    float: right;
    padding: 10px 0;
}


input {
    margin-top: 10px;
    transform: rotate(-20deg);
    width: 70px;
    height: 60px;
}

    input:hover {
        -webkit-filter: grayscale(100%);
    }

nav {
    float: left;
    padding-bottom: 20px;
}

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    nav li {
        display: inline-block;
        margin-left: 100px;
        padding-top: 0px;
        position: relative;
    }

    nav a {
        color: #444;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
    }

        nav a:hover {
            color: #000;
        }

        nav a::before {
            content: '';
            display: block;
            height: 5px;
            background-color: #444;
            position: absolute;
            top: 0;
            width: 0%;
            transition: all ease-in-out 250ms;
        }

        nav a:hover::before {
            width: 100%;
        }
/************************************
        Div clear bg
*************************************/

.text_pad {
    padding: 20px;
}

/*************************************
    Footer
**************************************/

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: #00a2a9;
}
