body
{
}

.form_popup /*will remain hidden until button is clicked*/
{
    display: none;
    position: fixed;
    border-radius: 20px;

    /*Adjust placement and size based on where the button goes.*/
}

